<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Comparison page</title>
    <link rel="stylesheet" href="../static/css/Comparison_style.css">
</head>
<body>
    <section id="ResultPage">
        <!-- header -->
        <header>
            <a href="Landing_page.html"><img src="../static/image/logo_white.png" alt="Logo"></a>

            <h2 id="result">Book: Bookname by Author </h2>

        </header>

        <container>
            <!-- container in which data will be displyed from javascript -->
                <div class="container" id="bookDetailsContainer"></div>
                
            
            <div class="right-container">
                <!-- Creation of a table to display product information -->
                <main class="table"><b>Similar books<b>
                    <section class="table_body">
                        <table>
                            <thead>
                                <!-- Table headers -->
                                <tr>
                                    <th> Title </th>
                                    <th> Website Name</th>
                                    <th> URL</th>
                                    <th> Price </th>
                                    <th> More information </th>

                                </tr>
                            </thead>

                            <!-- Content of table will be displayed using javascript -->
                            <tbody>
                                
                            </tbody>
                        </table>
                    </section>
                </main>
            </div>
            

        </container>


    </section>

    <!-- javascript file -->
    <script src="../static/js/Comparison.js"></script>
</body>
</html>