<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Landing page</title>
    <link rel="stylesheet" href="../static/css/Landing_style.css">
</head>
<body>
    <section id="SearchPage">
        <!-- logo -->
        <header>
            <img src="../static/image/logo_white.png" alt="Logo">
            <h2>Read Wisely, Save Wildly</h2>
        </header>
        
        <!-- search bar -->
        <form class="search" id="searchForm" onsubmit="event.preventDefault(); searchProducts();">
            <input type="text" id="searchInput" placeholder="Search for book name?" required>
            <button type="submit" id="searchBtn"><img src="../static/image/searchglass.png"></button>
        </form>


    </section>

    <script>
        // Simple javascript function which will load the search
        function searchProducts() {
          const searchInput = document.getElementById('searchInput').value;

          // Redirect to Result_page.html with the search query as a parameter
          window.location.href = `Result_page.html?q=${searchInput}`;
        }

    </script>


</body>
</html>


